/gamemodes/base.*
/gamemodes/bare.*
/gamemodes/barron.*
/gamemodes/grandlarc.*
/gamemodes/hadestest.*
/gamemodes/rivershell.*
/gamemodes/timertest.*
/gamemodes/worldwar.*
/gamemodes/prophunt.*
/filterscripts/a51_base.*
/filterscripts/adminspec.*
/filterscripts/attachments.*
/filterscripts/base.*
/filterscripts/baseaf.*
/filterscripts/cargoship.*
/filterscripts/dillimore_gas.*
/filterscripts/ferriswheel.*
/filterscripts/flymode.*
/filterscripts/fsdebug.*
/filterscripts/chatbubble.*
/filterscripts/http_test.*
/filterscripts/iradio.*
/filterscripts/kylies_barn.*
/filterscripts/ls_apartments1.*
/filterscripts/ls_beachside.*
/filterscripts/ls_elevator.*
/filterscripts/ls_mall.*
/filterscripts/prisonwalls.*
/filterscripts/wellsfargo.*
/filterscripts/maxips.*
/filterscripts/menutest.*
/filterscripts/modular_houses.*
/filterscripts/modular_island.*
/filterscripts/netstats.*
/filterscripts/npc_record.*
/filterscripts/ospawner.*
/filterscripts/pirateship.*
/filterscripts/pnetstats.*
/filterscripts/safe_animated.*
/filterscripts/samp_anims.*
/filterscripts/sf_building1.*
/filterscripts/sf_zombotech.*
/filterscripts/skinchanger.*
/filterscripts/stunt_island.*
/filterscripts/test_cmds.*
/filterscripts/text.*
/filterscripts/velocimetro.*
/filterscripts/gl_chatbubble.*
/filterscripts/SSGANG
/filterscripts/SS_GANG_MAIN.*
/filterscripts/tuning.*
/filterscripts/vspawner.*
/filterscripts/maps.*
/filterscripts/ls_wellsfargo.*
/filterscripts/ls_prisonwalls.*
/filterscripts/gl_property.*

/include/gl_spawns1.inc
/include/
/npcmodes/
/scriptfiles/

/scriptmachine/
/pawno/
/logs/

crashdetect.txt
crashinfo.txt

server_log.txt
serverdm.cfg